body {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 98%;
    height: 98vh;
    background: linear-gradient(to bottom, rgb(127, 166, 240), rgb(4, 41, 88));
    /* border: solid orange; */
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 50%;
    /* border: solid black */
}

#seccion-principal {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90%;
    padding: 5px 5px;
    font-weight: bold;
    box-shadow: 5px 5px 10px 3px black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.897);
    /* border: solid blue; */
}

#container-login {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 90%;
    /* border:solid red; */
}

#title {
    font-size: 40px;
    margin: 0px 150px;
}

#form-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    /* border: solid; */
    padding: 5px;
}

.text {
    font-size: 16px;
    margin: 5px 20px !important;

}

#text-login {
    font-size: small;
    margin: 5px 150px;
}

.text-box {
    width: 90%;
    height: 10%;
    border-radius: 5px;
    margin: 5px 20px !important;
    font-size: 20px;
}

#btn-send {
    width: 50%;
    height: 10%;
    margin: auto;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, rgb(105, 2, 105), rgb(133, 3, 150));
}

#btn-send:hover {
    cursor: pointer;
    transform: scale(1.05);
}