<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Erick Corrales">

    <title>Trivia Game</title>

    <link rel="stylesheet" href="css/index.css">
    <script src="ts-js/main.js"></script> 
</head>
<body>
    <!-- Cabecera del sitio web -->
    <header id="header">
        <p id="titulo">Trivia Game</p>
        <br><br>
        <nav id="barra-navegacion">
            <div id="container-botones">
                <button id="btn-registro" class="btn-cuenta">Sign Up</button>
                <button id="btn-inicio-sesion" class="btn-cuenta">Log In</button>
            </div>
        </nav>
    </header>

    <!-- Linea de separacion -->
    <br><br>
    <div class="separacion"></div>
    <br><br>

    <!-- Contenido principal de la pagina inicial -->
    <main id="contenedor-principal">
        <section id="seccion-categoria">
            <h2>Selecciona una categoría</h2>
            <br><br>
            <div id="div-categorias">
                <div id="categoria-deportes" class="categorias">Deportes</div>
                <div id="categoria-cine" class="categorias">Cine</div>
                <div id="categoria-ciencias" class="categorias">Ciencias</div>
                <div id="categoria-cultura" class="categorias">Cultura</div>
                <div id="categoria-matematicas" class="categorias">Matemáticas</div>
                <div id="categoria-anime" class="categorias">Anime</div>
            </div>
        </section>
    </main>

    <br>

    <!-- Footer de la pagina inicial -->
    <footer id="pie-pagina">
        <p>2025 Tivia Game. Todos los derechos reservados.</p>
        <p>Erick Corrales</p>
    </footer>


</body>
</html>