<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>

    <link rel="stylesheet" href="css/registro.css">
    <script src="ts-js/registro.js"></script>
</head>
<body>
    <main id="main">
        <section id="seccion-principal">
            <div id="container-login">
                <h2 id="title">Sign up</h2>
                <p id="text-login">Crea una cuenta o <a href="login.html">Log in</a></p>
                <form id="form-sign-up">
                    <p class="text email">Email address</p>
                    <input type="email" name="email" required class="text-box email">
                    <p class="text username">Username</p>
                    <input type="text" name="username" required class="text-box username">
                    <p class="text password">Password</p>
                    <input type="password" name="password" required class="text-box password">
                    <input type="button" id="btn-send" name="send" value="Sign up">
                </form>
            </div>
        </section>
    </main>
</body>
</html>